
<ul>
  <% @spaces.each do |space|%>
  <li><%=space.name%></li>
  <li><%=space.description%></li>
  <li><%=space.price%></li>
  <form action='/bookings' method="get">
  <input type="submit" name="book" value="book"/>
  </form>
  <% end %>

  </ul>