<form action="/new-user" method="post">
  <label>Username<input required type="text" name="username" placeholder="Username"></label>
  <label>Email<input  required type="email" name="email" placeholder="Email"></label>
  <label>Password<input required type="password" name="password" placeholder="Password"></label>
  <input type="submit" value="Submit">
</form>