<!doctype html>
<html lang="en">
  <head>
	  <title>Makers BnB</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="<%= url('general_styles.css') %>" rel="stylesheet" type="text/css"/>
    <link href="<%= url('spaceform_styles.css') %>" rel="stylesheet" type="text/css"/>
  </head>

  <body class='background'>
    <div class='container'>
      <header>
        <a href="/"><img class="logo" src="logo.png"></a>
      </header>

      <div class='container d-flex flex-column align-items-center justify-content-center'>
        <main>
          <div class='form-wrapper'>
            <form action='/listings' method='post'>
              <input required type='text' name='name' placeholder='Name'/>
              <input required type='text' name='description' placeholder='Description'/>
              <input required type='text' name='price' placeholder='Price per Night'/>
              <input type='submit' name='submit' class="btn btn-primary"/>
            </form>
          </div>
        </main>
      
        <footer>
          Created 2021 by Brett, Else, Karim, Luke, Thomas, and Will
        </footer>
      </div>
    </div>
    <!-- JavaScript to enable some elements to work -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

