<form action='/listings' method='post'>
  <input required type='text' name='name' placeholder='Name'/>
  <input required type='text' name='description' placeholder='Description'/>
  <input required type='text' name='price' placeholder='Price per Night'/>
  <input type='submit' name='submit'/>
</form>
