
.background {
  background: url('https://source.unsplash.com/gVKmonDbotU');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.confirmation_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}