
.background {
  background: url('https://source.unsplash.com/gVKmonDbotU');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  max-height: 4rem;
  padding: 6px;
}