.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.card {
  margin: 5px;
}

footer {
  text-align: center;
}

.bgimage {
  flex-direction: column;
  width:100%;
  height:500px;
  background: url('https://source.unsplash.com/YeP1MUZDSsE/1600x900');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.booking_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}